.block {
	padding: 10px;
	background-color: #3342;
	border: 4px solid darkblue;
	margin-bottom: 20px;
	width: 100px;
	border-radius: 10px
}

a:link {
    color: #ffffff;
    padding: 5px;
}

a:hover {
    background: #2137b0;
    color: #ffe;
}

.inline {
	background-color: #dc143c;
	color: #ffffff;
  	display: inline;
  	width: 250px;
  	text-align: right;
	padding: 10px;
	border-radius: 50px
}
.menu {
	color: #008000;
	line-height: 100px;
}